body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin:0;
    background: linear-gradient(#c6ffdd, #fbd786,#f7797d);
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

button {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ff006e;
    border: 2px solid #f14445;
    cursor: grab;
}



